<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicias del Mar</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/modal_styles.css">
    <link rel="stylesheet" href="/static/css/toast_container.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#" id="loginLink">Iniciar sesión</a></li>
                <li id="userMenu" style="display: none;">
                    <span id="usernameDisplay"></span>
                    <a href="#" id="logoutLink">Cerrar sesión</a>
            </ul>
        </nav>
        <h1>Delicias del Mar</h1>
    </header>
    <main>
        <section class="intro">
            <h2>Bienvenidos a Delicias del Mar</h2>
            <p>Disfruta de los mejores mariscos y pescados frescos, perfectos para cualquier ocasión.</p>
        </section>
        <div class="container">
            <div class="card">
                <img src="/static/images/Trucha.jpg" alt="Trucha">
                <div class="card-content">
                    <h2>Trucha</h2>
                    <p>Deliciosa y fresca trucha, perfecta para cualquier comida.</p>
                    <button>Ver más</button>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/Tilapia.jpg" alt="Tilapia">
                <div class="card-content">
                    <h2>Tilapia</h2>
                    <p>Filetes de tilapia de alta calidad, ideales para una dieta saludable.</p>
                    <button>Ver más</button>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/Salmon.png" alt="Salmón">
                <div class="card-content">
                    <h2>Salmón</h2>
                    <p>Filetes de salmón premium, ricos en ácidos grasos omega-3.</p>
                    <button>Ver más</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal de Inicio de Sesión -->
    <section class="modal" id="loginModal" style="display: none;">
        <div class="modal_container">
            <a href="#" class="modal_close">&times;</a>
            <p class="modal_title">Bienvenido, por favor inicia sesión</p>
            <form id="loginForm">
                <input type="text" class="modal_username" placeholder="Nombre de usuario">
                <input type="password" class="modal_userpassword" placeholder="Contraseña">
                <button type="submit">Iniciar sesión</button>
                <p class="modal_text">¿Todavía no tiene cuenta? <a href="#" id="showRegister">Haz click aquí</a></p>
            </form>
        </div>
    </section>

    <!-- Modal de Registro -->
    <section class="modal" id="registerModal" style="display: none;">
        <div class="modal_container">
            <a href="#" class="modal_close">&times;</a>
            <p class="modal_title">Regístrese, por favor</p>
            <form id="registerForm">
                <input type="text" class="modal_username" placeholder="Nombre de usuario">
                <input type="password" class="modal_userpassword" placeholder="Contraseña">
                <button type="submit">Registrarse</button>
                <p class="modal_text">¿Ya tiene cuenta? <a href="#" id="showLogin">Haz click aquí</a></p>
            </form>
        </div>
    </section>
    <div id="toast-container"></div>
    <footer>
        <p>Disfruta del mejor marisco con la más alta calidad. &copy; 2024 Delicias del Mar</p>
    </footer>
    <script src="/static/scripts/script.js"></script>
</body>
</html>
